 {% extends "base/base.html" %}
 {% block title %} {{sensor.name}} {% endblock title %}
 {% block page_title %} {{sensor.name}} {% endblock page_title %}

 {% block main %}

<script>var sensor_id = {{sensor.id}};</script>

<div class="album text-muted">
  <div class="container">
    <div class="row" id="app">
        <img v-bind:src="sensor.value" v-if="sensor.type=='image'"/>
        <video width="560" controls v-else-if="sensor.type=='video'">
            <source v-bind:src="sensor.value" type="video/mp4">
        </video>
        <p v-else> [[sensor.value]] </p>
    </div>
  </div>
</div>

{% endblock main %}


{% block extrafooter %}
<script type="text/javascript" src="{{url_for('static', filename='js/sensor.js')}}"></script>
<script type="text/javascript" src="https://unpkg.com/vue-event-calendar@1.4.8/dist/index.js"></script>
{% endblock %}

{% block extraheader %}
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-event-calendar@1.4.8/dist/style.css">
{% endblock %}
