 {% extends "base/base.html" %}
 {% block title %} {{sensor.name}} {% endblock title %}
 {% block page_title %} {{sensor.name}} {% endblock page_title %}

 {% block main %}
 {% block extraheader %}
 {% endblock %}
<script>var sensor_id = {{sensor.id}};</script>

<template id="my-video-component">
    <video width="100%" autoplay controls>
        <source :src="src" type="video/mp4" />
    </video>
</template>

<div class="album text-muted">
  <div class="container">

    <div class="row" id="calendar">
      <div class="col-md-8 col-sm-12">
        <component :src="currentLink" :is="current" :key="currentLink" v-if="seen"></component>
      </div>

      <div class="col-md-4 col-sm-12">
          <vue-event-calendar :events="demoEvents">
            <template scope="props">
              <div v-for="(event, index) in props.showEvents" class="event-item">
                <img v-bind:src="event.data.value" v-if="event.data.type=='image'"/>
                <a href="#stay_here" name="stay_here" @click="setCurrent(event.data.value);" v-else-if="event.data.type=='video'">[[event.data.timestamp]]</a>
                <p v-else> [[event.data.value]] </p>
              </div>
            </template>
          </vue-event-calendar>
      </div>
    </div>
  </div>
</div>

{% endblock main %}


{% block extrafooter %}
<script type="text/javascript" src="https://unpkg.com/vue-event-calendar@1.4.8/dist/index.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/sensor.js')}}"></script>
{% endblock %}
