{% extends "base.html" %}

{% block page_title %}
    Login
{% endblock page_title%}

{% block add_rows %}
    <div class="loginmodal-container">
        {% from "_formhelpers.html" import render_field %}

        <h1>Login</h1><br>
        <form class="login-form" method=post>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>
    </div>
{% endblock %}
